.form{
  padding: 10px;
  background-color: burlywood;
}

.card{
  background-color: bisque;
  display: flex;
}

.avatar{
  width: 120px;
}

.userinfo{
  margin: 30px;
}

.userstats{
  margin-top: 30px;
}

.error{
  background-color: crimson;
  color: white;
  padding: 5px;
}